
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="center">
      
        <form action="/Product/Add" method="post">

            <h3>
                Ürün Bilgilerini Girin

            </h3>

            <label>
                <span>Ürün Adı :</span>
                <input type="text" name="name" placeholder="Ürün adı girin.." style="margin-top:50px" />
            </label>
            <label>
                <span>Ürün Barkodu :</span>
                <input type="text" name="barcode" style="margin-top:50px" />
            </label>

            <label>
                <span>Üretim Tarihi:</span>
                <input type="date" name="prod_date" placeholder="" style="margin-top:50px" />
            </label>
            <label>
                <span>Tüketim Tarihi :</span>
                <input type="date" name="cons_date" placeholder="" style="margin-top:50px" />

            </label>


            <label>
                <span>Fiyat:</span>
                <input type="number" name="price" style="margin-top:50px" />
            </label>

            <label>
                <span>Ağırlık :</span>
                <input type="number" name="weight" style="margin-top:50px" />
            </label>

            <label>
                <span>Renk :</span>
                <input type="text" name="color" style="margin-top:50px" />
            </label>


            <label>
                <span>Stok Id :</span>
                <input type="number" name="stock_id" style="margin-top:50px" />
            </label>


            <label>
                <span>Marka Id :</span>
                <input type="number" name="brand_id" style="margin-top:50px" />
            </label>


            <label>
                <span>Kategori Id :</span>
                <input type="number" name="c_id" style="margin-top:50px" />
            </label>

          


            <div class="button">
                <input type="submit" value="Add" style="margin-top:50px ; margin-left:10px">
            </div>


        </form>
    </div>


