
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bakkal Web Side</title>
    <style>
       url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
color: var(--blue);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curver outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}

/* main */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor:pointer;
}
.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor:pointer;
}
.user img
{
    position: absolute;
    top 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card
{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName
{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBx
{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover
{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: var(--white);
}
.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}
.details .recentOrders
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2
{
    font-weight: 600;
    color: var(--blue);
}
.btn
{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    font-weight: 600;
}
.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child
{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover
{
    background: var(--blue);
    color: var(--white);
}
.details .recentOrders table tr td
{
    padding: 10px;
}
.details .recentOrders table tr td:last-child
{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2)
{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3)
{
    text-align: center;
}
.status.delivered
{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending
{
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return
{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inprogress
{
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.recentCustomers
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr td
{
    padding: 12px 10px;
}
.recentCustomers table tr td h4
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span
{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover
{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr:hover td h4 span
{
    color: var(--white);
}


/* now, make it responsive design */

 (max-width: 991px)
{
    .navigation
    {
        left: -330px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0;
    }
    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active
    {
        left: 300px;
    }
    .cardBox
    {
        grid-template-columns: repeat(2,1fr);
    }
}
 (max-width: 768px)
{
    .details
    {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders
    {
        overflow-x: auto;
    }
    .status.inprogress
    {
        white-space: nowrap;
    }
}

 (max-width: 480px)
{
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2
    {
        font-size: 20px;
    }
    .user
    {
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        color: var(--white);
        right: 0;
        left: initial;
    }
}







    </style>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16" style="margin-top:15px">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                        <span class="title" style="margin-top:15px">Bakkal Web Site</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Ana Sayfa</span>
                    </a>
                </li>
                <li>
                    <a href="/Category/List">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
</svg></span>
                        <span class="title">Kategori</span>
                    </a>
                </li>
                <li>
                    <a href="/Ürün/List">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
</svg></span>
                        <span class="title">Ürün</span>
                    </a>
                </li>
                <li>
                    <a href="/Brand/List">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
</svg></span>
                        <span class="title">Marka</span>
                    </a>
                </li>
                <li>
                    <a href="/Stok/List">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
</svg></span>
                        <span class="title">Stok</span>
                    </a>
                </li>
                <li>
                    <a href="/Satış/List">
                        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
</svg></ion-icon></span>
                        <span class="title">Satış İşlemleri</span>
                    </a>
                </li>
             
            </ul>
        </div>
        <!--Main-->
        <div class="main" >


            <button type="button" class="btn btn-warning" style="height:150px;width:600px;margin-top:150px;margin-left:150px;margin-bottom:50px"> 
            <a style=" text-decoration: none; color: white ; font-size:50px" href="/Login/Login"> Giriş Yap</a> </button>

            <button type="button" class="btn btn-warning" style="height:150px;width:600px;margin-top:150px;margin-left:150px; font-size:50px"> 
            <a style="text-decoration: none; color: white" href="/Register/Register"> Kayıt Ol</a> </button>


        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
		//MenuToggle
		let toggle = document.querySelector('.toggle');
		let navigation = document.querySelector('.navigation');
		let main = document.querySelector('.main');

		toggle.onclick = function (){
			navigation.classList.toggle('active')
			main.classList.toggle('active')
		}


		// add hovered class in selected list item
		let list=document.querySelectorAll('.navigation li');
		function activeLink(){
			list.forEach((item)=>
					item.classList.remove('hovered'));
			this.classList.add('hovered');
		}
		list.forEach((item)=>
				item.addEventListener('mouseover',activeLink));
    </script>
</body>
</html>