
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="center">
        <h1>Satis Ekle</h1>
        <form action="/Sale/Add" method="post">
    
            <h3>
                Satis Bilgilerini Girin

            </h3>
          

            <label>
                <span>Kullanıcı Id :</span>
                <input type="number" name="id" style="margin-top:50px" />

            </label>
            <label>
                <span>Miktar :</span>
                <input type="number" name="quantity" style="margin-top:50px" />

            </label>
            <label>
                <span>Satis Tarihi :</span>
                <input type="date" name="date" style="margin-top:50px" />

            </label>
            <label>
                <span>Durum :</span>
                <input type="text" name="state" style="margin-top:50px" />

            </label>
            <label>
                <span>Fiyat :</span>
                <input type="number" name="price" style="margin-top:50px" />

            </label>
            <label>
                <span>İskonto :</span>
                <input type="number" name="discount" style="margin-top:50px" />

            </label>
           
            <label>
                <span>Urun Id :</span>
                <input type="text" name="product_id" style="margin-top:50px" />

            </label>
        
            <div class="button">
                <input type="submit" value="Add" style="margin-top:50px ; margin-left:10px">
            </div>

          
        </form>
    </div>
    

