
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 



    <div class="center">
        <h1>Rol Ekle</h1>
        <form action="/Role/Add" method="post">
           
            <h3>
                Rol Adı Girin

            </h3>
            <label>
                <span>Marka Adı :</span>
                <input type="text" name="r_name" placeholder="Rol adı girin.." style="margin-top:50px" />



                <div class="button">
                    <input type="submit" value="Add" style="margin-top:50px ; margin-left:10px">
                </div>

                </label>
</form>
    </div>




