
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <h1>Kategori Ekle</h1>
        <form action="/Category/Add" method="post">

            <h3>
                Kategori Adı Girin

            </h3>
            <label>
                <span>Kategori Adı :</span>
                <input type="text" name="k_adi" placeholder="Kategori adı girin.." style="margin-top:50px" />



                <div class="button">
                    <input type="submit" value="Add" style="margin-top:50px ; margin-left:10px">
                </div>

          
</form>
 

